body {
    margin: 0;
    padding: 0;
    background-color: #edefec;
  }

	.root {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
  }

  
  h1 {
    text-align: center;
  }

  .chat-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 50vw;
    height: 80vh;
  }

  .exit-button {
    width: 10%;
    height: 5%;
    margin-bottom: 1%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(243, 179, 179);
    text-transform: uppercase;
    font-size: large;
    cursor: pointer;
  }

  .search-field {
    align-self: end;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
    margin-bottom: 1%;
  }

  .chat-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
  }

  .pin-container {
    width: 100%;
    border: 2px solid black;
    margin-bottom: -2px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px;
  }

  .pin-delete-button {
    width: 20px;
    height: 20px;
    background-image: url(88dc3a2855e5ec7e0195.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .chat-screen {
    height: 90%;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
  }

  .chat-screen-select {
    height: 90%;
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
  }

  .chat-basement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 5%;
    flex-wrap: nowrap;
    margin-top: 3%;
  }

  .message {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1%;
  }

  .message-video {
    width: 80%;
  }

  .message-options {
    display: flex;
    flex-direction: row;
  }

  .message-body {
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-grow: 1;
  }

  .delete-button {
    width: 20px;
    height: 20px;
    background-image: url(88dc3a2855e5ec7e0195.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .edit-button {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-image: url(7b0069bd728c8f7a7c82.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .pin-button {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-image: url(58971a202700e0880ce0.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .select-button {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-image: url(6683bcd3284b5428bc23.svg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .selected {
    background-image: url(93f1c839083f7d5e5408.svg);
  }

  .message-header {
    font-size: 12px;
    color: rgb(121, 121, 121);
    margin-bottom: 1%;
  }

  .message-content {
    font-size: 20px;
    max-width: 70%;
  }

  .download-link {
    font-size: 20px;
    color: rgb(245, 190, 71);
    cursor: pointer;
    font-style: italic;
    text-decoration: none;
  }

  .message-form {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .file-container {
    width: 50px;
    height: 100%;
    position: relative;
    cursor: pointer;
  }

  .overlapped {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0; margin: 0;
    opacity: 0;
    width: 100%;
  }

  .overlap {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0; margin: 0;
    width: 100%;
    text-align: center;
    background-image: url(7ee699ec7d60802d4293.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
  }

  .media-button {
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: #edefec;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
  }

  .photo-modal-button {
    align-self: center;
    margin: 1%;
    width: 60px;
    height: 60px;
    border: 0px;
    background-color: aliceblue;
    background-image: url(9281da1ec1883f0ef5e4.svg);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
  }

  .photo {
    background-image: url(6a28c1b3699f41d9718c.svg);
  }

  .video {
    background-image: url(48c8cc7e56d3c4b15a29.svg);
  }

  .audio {
    background-image: url(961eb63465bde9230d76.svg);
  }

  .select {
    background-image: url(6683bcd3284b5428bc23.svg);
  }

  .record {
    border: 2px solid rgb(252, 7, 7);
    border-radius: 10px;
  }

  .message-field {
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
  }

  .message-button {
    width: 80px;
    height: 100%;
    border: 0px;
    background-color: #edefec;
    cursor: pointer;
    background-image: url(bf250e69b5830be8d34d.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
  }

  .modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    width: 30vw;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
}  

.coordinates-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 20%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(250, 132, 132);
  padding: 1%;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20%;
}

.modal-warning {
  margin-bottom: 10px;
}

.coordinates-modal-field {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1%;
  font-size: large;
  margin-bottom: 10px;
}

.coordinates-modal-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: end;
}

.modal-title {
    width: 80%;
    height: 30px;
    align-self: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.modal-input {
    width: 80%;
    height: 20px;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.edit-input {
    max-width: 80%;
    max-height: 20vh;
    min-width: 80%;
    min-height: 20vh;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: inherit;
    font-size: large;
}

.modal-button {
    width: 30%;
    height: 40px;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 2px solid black;
    border-radius: 12px;
    cursor: pointer;
}

  .unactive {
    display: none;
}

.canvas {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
}







  

